@model IEnumerable<PingPong.Models.SinglesMatch>
@{
    Layout = "~/Views/Shared/_PingPongLayout.cshtml";
}

<div ng-controller="SinglesMatches as vm">
    <p>{{vm.title}}</p>
</div>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="jot">
                @item.PlayerOneScore
            </div>
        </div>
    </div>
}
